<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="initial-scale=0.3333333, maximum-scale=0.3333333, minimum-scale=0.3333333, user-scalable=no">

    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.font.im/css?family=Lobster|Raleway" rel="stylesheet">
    <!--IE Polyfill 如果不需要考虑 IE9，请删除-->
    <!--[if lte IE 9]>
    <script src="../extra/ie9-polyfill.js"></script>
    <![endif]-->
</head>
<body class="">
<div id="app"></div>
</body>
</html>
